.uber {
  background-color: black;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  transition: opacity 0.15s;
}
.uber:hover {
  opacity: 0.7;
}
.uber:active {
  opacity: 0.4;
}